*{
    margin: 0;
    padding: 0;

}
body{
    background: #f6f9ff;
}
.carousel .carousel-item {
    width: 800px;
}

nav {
    background: white;
}

form {
    width: 600px;
    margin: auto;
}

.btn {
    background: #f6f9ff;
    color: #012970;
}

.btn:hover {
    background: #a0b9ebda;
}



.card-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-action form{
    width: unset;
}
nav ul li a{
    color: #012970;
}
 a{
    color: #012970 !important;
}
nav ul  .active {
    background-color: #f6f9ff !important;
    border: 2px solid white;
    border-bottom: none;
    border-top: none;
}
.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
transition: 900ms;
    height: 350px;
    filter: saturate(0);
}
.card .card-image{
    overflow: hidden;
}
.card .card-image img:hover{
   transform: scale(1.2);
   filter: saturate(1);
}
.scrolll{
    overflow: auto;
   height: 90vh;
}